__pycache__/
*.py[cod]
.venv/
.pytest_cache/

logs/*.log
!logs/.gitkeep

data/external/*
data/raw/*
data/processed/*
!data/external/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

artifacts/*
!artifacts/.gitkeep
!artifacts/predictions/
artifacts/predictions/*
!artifacts/predictions/.gitkeep

models/*
!models/.gitkeep

reports/*
!reports/.gitkeep

plan
